<!-- #landing -->

<div class="background">

</div>

<div id="logo_container">
    <img id="logo_large" src="./public/icons/unnamed.svg"/>
</div>

<!-- BUTTONS -->
<div id="buttons">
    <a id="button" href="/#login">  <h2>Logg Inn</h2> </a>
    <a id="button" href="/#register"> <h2> Registrer </h2> </a>
</div>


