<!-- #landing -->

<div class="background">
    <img id="canvas" src="media/pattern2.png" />

    </div>
</div>

<div id="logo_container">
    <img id="logo_large" src="./public/icons/moods_logo_large.svg"/>
    <img id="mutebtn" src="public/icons/mute.svg" />
</div>

<!-- BUTTONS -->
<div id="buttons">
    <a id="button" href="/#login">  <h2>Logg Inn</h2> </a>
    <a id="button" href="/#register"> <h2> Registrer </h2> </a>
</div>
<div id="show_benefits" class="next-button">
    &#9660;
</div>

<!-- STUFF -->
<h3 id="item_container">
    <div class="item">
        <ul>
            <li><h3>MINE MOODS-BILDER</h3>
                <p> Se dine proffe bilder i Moods-outfit tatt av deg i våre butikker. </p>
            </li>
            <li><h3>MINE KVITTERINGER</h3>
            <p> Alle dine kvitteringer digitalt. </p>
            </li>
            <li><h3>MINE MEDLEMSFORDELER</h3>
            <p> Fra overraskelser til kule aktiviteter. </p>
            </li>
            <li><h3>MINE EVENTS</h3>
            <p> Bli invitert til ekslusive events.</p>
            </li>
        </ul>
    </div>
    <div class="item">
        <img src="media/moods_bilder.png"/>
    </div>
    <div class="item">
        <img src="media/moods_dagestad.jpg"/>
    </div>
    <div class="item">
        <img src="media/moods_zucarello.jpg"/>
    </div>
    <div class="item">
        <img src="media/moods_sport1.jpg"/>
    </div>
    <div class="item">
        <img src="media/moods_swim2.jpg"/>
    </div>
</h3>
