<!-- #landing -->

<div class="background">

</div>

<div id="logo_container">
</div>

<!-- BUTTONS -->
<div id="buttons">
    <a id="button" href="/#login">  <h2>Log In</h2> </a>
    <a id="button" href="/#register"> <h2> Register </h2> </a>
</div>


