@import "../index.scss";
@import '../common_styles/garment';
@import '../common_styles/empty-filler';
@import '../common_styles/ribbon';

body {
    font-family: 'Trade Gothic Next W01',arial,sans-serif;
    color: $moods-grey1;
}

.blue{ // for testing, will be removed
background-color: blue !important;
}

.stay{
    position: absolute !important;
}

#photos-page{
    display: flex;
    justify-content: center;
    #photos-centering{
        width: 100%;
        max-width: 1000px;
    }

    #photo-container{
        width: 100%;
        .photo-view {
            background-color: $moods-grey4;
            margin-top: 40px;
            @media (max-width: 600px) {
                margin-top: 20px;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            .photo-and-details{
                position: relative;
                margin-top: 40px;
                @media (max-width: 600px) {
                    margin-top: 10px;
                }
                img{
                    display: block;
                    align-self: center;
                    max-height: 450px;
                    @media (max-height: 450px) {
                        max-height: 100vh;
                    }
                    max-width: 100%;
                }
                .prev-button, .next-button{
                    display: none;
                    position: absolute;
                    left: 50%;
                    transform: scale(8, 2);
                    opacity: 0.3;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.6;
                    }
                }
                .prev-button{
                    top: 20px;
                }
                .next-button{
                    bottom: 120px;
                }
                .photo-controls-bar{
                    user-select: none;
                    color: $moods-grey1;
                    background-color: $moods-grey3;
                    font-weight: bold;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    @media (max-width: 400px) {
                        justify-content: flex-start;
                    }
                    width: 100%;
                    position: relative;
                    .garment-counter{
                        margin: 10px 15px;
                        .changing-words{
                            float: left;
                            position: relative;
                            .show-garments, .hide-garments{
                                position: absolute;
                                right: 0;
                            }
                            .hide-garments{
                                display: none;
                            }
                            .dummy-word{
                                visibility: hidden;
                            }
                        }
                        .arrow{
                            display: inline-block;
                            margin-left: 5px;
                        }
                    }
                    .actions{
                        position: absolute;
                        right: 0;
                        div{
                            float: left;
                            padding: 10px;
                            &:hover{
                                color: $moods-pink2;
                            }
                        }
                        a{
                            color: $moods-grey1;
                            text-decoration: none;
                            &:hover{
                                color: $moods-pink2;
                            }
                        }
                    }
                    .fullscreen-button{
                        @media (max-height: 450px) {
                            visibility: hidden;
                        }
                    }
                    .hidden{
                        display: none;
                    }
                }
                .details{
                    padding: 20px 0;
                    @media (max-width: 600px) {
                        padding: 10px;
                    }
                    font-size: 0.8em;
                    display: flex;
                    justify-content: space-between;
                }
            }
            .garments-container-outer{
                box-sizing: border-box;
                display: none;
                width: 100%;
                padding: 0 10px 10px;
                .garments-container{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    .garment-outer{
                        width: 100%;
                        box-sizing: border-box;
                        padding: 5px;

                        @media (min-width: 650px) {
                            width: 50%;
                            padding: 10px;
                            @media (min-width: 975px) {
                                width: (1/3) * 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .load-more-button{
        user-select: none;
        display: inline-block;
        font-size: 13px;
        color: $moods-grey4;
        background-color: $moods-grey1;
        text-decoration: none;
        margin: 20px;
        padding: 0.5em 2em;
        border-radius: 5000px;
        border: none;
        text-align: center;
        cursor: pointer;
        &:hover{
            background-color: $moods-pink2;
        }
        &:active{
            background-color: $moods-pink1;
        }
    }
}

#photos-page.fullscreen{
    #photos-centering{
        max-width: none;
        .photo-and-details{
            img{
                max-height: 100vh;
            }
            .prev-button, .next-button {
                display: block;
            }
        }
    }
}

.sharing-instructions-background{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background:rgba(0,0,0,0.5);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    .sharing-instructions-box{
        background-color: $moods-grey-4;
        border: $moods-grey-1 solid 1px;
        padding: 20px;
        margin: 20px;
    }
}

.flip {
    transform: scale(1, -1);
    transition: .25s;
}
.flip-back {
    transform: scale(1, 1);
    transition: .25s;
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: $moods-grey1;
    background: linear-gradient(to right, $moods-grey1 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before {
    width: 50%;
    height: 50%;
    background: $moods-grey1;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after {
    background: $moods-grey4;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
