<div id="login_view">
    <div>
        <h3>Filter by gender</h3>
    </div>
    <div>
        <form action="submit" id="filterform">
            <select name="gender" id ="gender">
                <option value="IMAX">IMAX</option>
                <option value="Western">Western</option>
                <option value="War">War</option>
                <option value="Thriller">Thriller</option>
                <option value="Sci-Fi">Sci-Fi</option>
                <option value="Romance">Romance</option>
                <option value="Mystery">Mystery</option>
                <option value="Musical">Musical</option>
                <option value="Horror">Horror</option>
                <option value="Film-Noir">Film-Noir</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Drama">Drama</option>
                <option value="Documentary">Documentary</option>
                <option value="Crime">Crime</option>
                <option value="Comedy">Comedy</option>
                <option value="Action">Action</option>
                <option value="Adventure">Adventure</option>
                <option value="Animation">Animation</option>
                <option value="Children">Children</option>
            </select>
            <input type="button" value="Filter" id="filtersubmittgender" >
        </form>
    </div>


</div>
