<div id="login_view">
    <div>
        <h3>Filter by time</h3>
    </div>
    <div>
        <form action="submit" id="filterform">
            <input type="text" id="time" placeholder="time limit">

            <input type="button" value="Filter" id="filtersubmitttime" >
        </form>
    </div>


</div>
