<div id="login_view">
    <div>
        <h3>Filter by year</h3>
    </div>
    <div>
        <form action="submit" id="filterform">
            <input type="text" id="year" placeholder="Year">
            <div id="periodcontent">
                <select name="period" id ="period">
                    <option value="before">Before</option>
                    <option value="after">After</option>
                    <option value="in">In</option>
                </select>
            </div>

            <input type="button" value="Filter" id="filtersubmittyear" >
        </form>
    </div>


</div>
