.recommend_view{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-top: 10%;
  list-style: none;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  color: white;

}
.singleMovie{
  size:auto;
  max-width: 40%;
  background-color: #1a1a1a;
  opacity: 1;
  list-style: none;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  font-size: 18px;

}


img{
  height: 400px;
  width: 300px;
}
.child{
  padding-right: 5%;
}


.button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #575757;
  padding: 10px 20px 10px 20px;
  border: solid #000000 1px;
  text-decoration: none;
}

.button:hover {
  background: #949494;
  text-decoration: none;

}
#filterbutton{
  position: absolute;
  top: 120px;
  left: 20px;


}
#periodcontent{
  padding-bottom: 10px;
}
#buttongroup{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;


}
