<div class="container">
    <div id = "filterbutton">
        <ul id="buttongroup">
            <li> <a class="button" id="filter">Year</a></li>
            <li> <a class="button" id="filterGender">Gender</a> </li>
            <li> <a class="button" id="filterTime">Time</a> </li>

        </ul>


    </div>
    <ul class="recommend_view">


    </ul>
    <div class = "nextbutton">
        <a class="button" id="nextrec">Next</a>
    </div>
    <div class = "backbutton">
        <a class="button" id="previousrec">Back</a>
    </div>


</div>

