<div class="container">
    <div id = "filterbutton">
        <ul id="buttongroup">
            <li> <a class="button" id="filter">Year</a></li>
            <li> <a class="button" id="filterGender">Gender</a> </li>
        </ul>


    </div>
    <ul class="rate_view">







    </ul>
    <div class = "nextbutton">
        <a class="button" id="nextrec">Next</a>
    </div>


</div>

