<!-- #dialog -->

<div id="login_error">
    <h2> {{ErrorMessage}} </h2>
    <div>
        <div> <a href="#login"> Try again</a></div>
        <div> <a href="#register"> Register </a></div>
    </div>
</div>