<!-- #dialog -->

<div id="login_error">
    <img src="public/icons/moods_logo_small.svg" />
    <h2> {{ErrorMessage}} </h2>
    <div>
        <div> <a href="#login"> Prøv Igjen</a></div>
        <div> <a href="#register"> Registrer deg </a></div>
    </div>
</div>