$moods-pink-1: #EE2A7B;
$moods-pink-2: #FF8FCC;
$moods-pink-3: #FFDDF0;
$moods-cyan:  #54D1FF;
$moods-grey-1: #454142;
$moods-grey-2: #6A6768;
$moods-grey-3: #CFDCE4;
$moods-grey-4: #EBEEF2;

.empty-filler{
    h2, .simen-says{
        @media (max-width: 1030px) {
            padding: 0 10px;
        }
    }
    .simen-says{
        margin-bottom: 40px;
        .bubble{
            display: inline-block;
            position: relative;
            border: 5px solid $moods-grey-2;
            border-radius: 40px;
            padding: 0 40px;
            margin-bottom: 40px;
            margin-left: 60px;
            @media (max-width: 400px) {
                margin-left: 0;
            }
            text-align: center;
            &:before{
                content: ' ';
                  position: absolute;
                  width: 0;
                  height: 0;
                  left: 40px;
                  @media (max-width: 400px) {
                      left: 70px;
                  }
                  bottom: -40px;
                  border: 20px solid;
                  border-color: $moods-grey-2 transparent transparent $moods-grey-2;
            }
            &:after{
                content: ' ';
                position: absolute;
                width: 0;
                height: 0;
                left: 45px;
                @media (max-width: 400px) {
                    left: 75px;
                }
                bottom: -27px;
                border: 20px solid;
                border-color: #fff transparent transparent #fff;
            }
        }
        .simen{
            background-image: url('../../media/simen.png');
            background-size: contain;
            border-radius: 1000px;
            width: 140px;
            height: 140px;
        }
    }
    img{
        width: 100%;
    }
}
