$moods-pink-1: #EE2A7B;
$moods-pink-2: #FF8FCC;
$moods-pink-3: #FFDDF0;
$moods-cyan:  #54D1FF;
$moods-grey-1: #454142;
$moods-grey-2: #6A6768;
$moods-grey-3: #CFDCE4;
$moods-grey-4: #EBEEF2;

.garment{
    float: left;
    width: 100%;
    height: 100%;
    background-color: white;
    border: $moods-grey-3 solid 1px;
    .garment-header{
        width: 100%;
        box-sizing: border-box;
        padding: 20px 15px 5px;
        .garment-title{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 18px;
            .garment-name{
                font-weight: bold;
            }
        }
    }
    .garment-middle-content{
        .garment-image{
            box-sizing: border-box;
            width: 50%;
            padding: 15px 0 50% 0;
            float: left;
            img{
                position: absolute;
                width: 50%;
                display: block;
                float: left;
            }
        }
        .garment-right-content{
            float: right;
            padding: 15px 20px 0;
            width: 50%;
            box-sizing: border-box;
            .size{
                padding: 0 5px 10px;
            }
            .size, .price{
                float: left;
                width: 100%;
                font-size: 18px;
            }
            .price{
                height: 43px;
                div{
                    float: left;
                    padding: 2px 5px;
                }
                .old{
                    text-decoration: line-through;
                }
                .sale{
                    color: white;
                    background-color: $moods-cyan;
                    font-weight: bold;
                }
            }
            .to-store{
                display: inline-block;
                font-size: 13px;
                color: $moods-grey-4;
                background-color: $moods-grey-1;
                text-decoration: none;
                margin-top: 20px;
                padding: 0.5em 0;
                border-radius: 5000px;
                border: none;
                width: 120px;
                max-width: 100%;
                text-align: center;
                &:hover{
                    background-color: $moods-pink-2;
                }
            }
        }
    }
    .garment-text{
        float: left;
        box-sizing: border-box;
        padding: 15px;
        font-size: 11pt;
        width: 100%;
        clear: both;
        .short{
            height: 40px;
        }
        .long{
            display: none;
            p {
              margin-top: 0;
            }
        }
        &.show-long{
            .short{
                display: none;
            }
            .long{
                display: block;
            }
        }
        .read-more{
            text-decoration: underline;
            cursor: pointer;
            &:hover{
                color: $moods-pink-1;
                text-decoration: none;
            }
        }
    }
}
