$moods-pink-1: #EE2A7B;
$moods-pink-2: #FF8FCC;
$moods-pink-3: #FFDDF0;
$moods-cyan:  #54D1FF;
$moods-grey-1: #454142;
$moods-grey-2: #6A6768;
$moods-grey-3: #CFDCE4;
$moods-grey-4: #EBEEF2;

@import '../common_styles/garment';
@import '../common_styles/empty-filler';
@import '../common_styles/ribbon';

main{
  background-color: white;
}

#tryons-page {
  display: flex;
  justify-content: center;

  #tryons-centering {
    width: 100%;
    max-width: 1000px;
  }

  #tryons-container{
    width: 100%;
    padding: 20px 0;
    .tryon-date-view{
      padding-top: 40px;
      .date-header{
        font-size: 16px;
        margin: 0 0 5px 0;
      }
      .date-store{
        font-size: 16px;
      }
      .date-header, .date-store{
          @media (max-width: 1030px) {
            padding: 0 10px;
        }
      }
      .garments-container-outer{
        box-sizing: border-box;
        width: 100%;
        padding: 10px 10px;
        margin-top: 20px;
        background-color: $moods-grey-4;
        .garments-container{
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          .garment-outer {
            width: 100%;
            box-sizing: border-box;
            padding: 5px;

            @media (min-width: 650px) {
              width: 50%;
              padding: 10px;
              @media (min-width: 975px) {
                width: (1/3) * 100%;
              }
            }
          }
        }
      }
    }
  }
  .load-more-button{
    display: inline-block;
    font-size: 13px;
    color: $moods-grey-4;
    background-color: $moods-grey-1;
    text-decoration: none;
    margin: 20px;
    padding: 0.5em 2em;
    border-radius: 5000px;
    border: none;
    text-align: center;
    cursor: pointer;
    &:hover{
      background-color: $moods-pink-2;
    }
    &:active{
      background-color: $moods-pink-1;
    }
  }
}
