<h2 class="date-header">
    Prøvd {{dateFormatted}}
</h2>
<div class="date-store">
    {{store}}
</div>
<div class="garments-container-outer">
    <div class="garments-container">
      <!-- garment views will be rendered here -->
    </div>
</div>
