<div id="ribbon" style="background-image: url('{{headerImage}}')">
    <div id="ribbon-inner">
        <div id="ribbon-content">
            <h1>
                Mitt prøverom
            </h1>
            <p>
                Når du logger inn i våre prøverom, vil du kunne finne igjen klærne du har prøvd i denne oversikta.
            </p>
        </div>
    </div>
</div>

<section id="tryons-page">
    <div id="tryons-centering">
        <div id="tryons-container">
            <!-- tryon session views will be rendered here -->
            {{#if empty}}
            <div class="empty-filler">
                <h2> Du har ingen registrerte prøveromsbesøk </h2>
                <div class="simen-says">
                    <div class="bubble">
                        <p>
                            Prøv å logge inn i et av prøverommene neste gang du er i en av våre butikker, så vil du få en flott oversikt over klærne du prøvde her på denne sida.
                        </p>
                    </div>
                    <div class="simen"></div>
                </div>
                <img src="http://dbfy9c5mcr8o7.cloudfront.net/client/moodsofnorway/dynamic/articles/moods-of-norway-gym-aw15-john-tosse-mn-41173_4851.jpg"></img>
            </div>
            {{/if}}
        </div>
        <div class="load-more-button">
            Last flere datoer
        </div>
    </div>
</section>
