<section class="vote_view">
      <div class="vote_title">
          <h3>Vi ønsker hjelp av deg til å påvirke neste kolleksjon!</h3>
          <p>Klikk her for å se hva du kan stemme på og avgi din stemme.</p>
      </div>
      <div class="votes_container">

      </div>
</section>
<!-- Vote items render here -->
