<div class="vote_item">
    {{#if imageLink}}
    <div class="image_container">
      <img class="vote_image" src="{{imageLink}}">
    </div>
    {{/if}}
    <div class="likes {{#if isLiked}}liked{{/if}}">
      &#10084; ({{like}})
    </div
</div>
