

<div>

    <nav class="menu">
        <li><a href="#rate">Rate</a></li>
        <li><a href="#recommend">Recommend</a></li>
        <li><a href="#logout">Logg Ut</a></li>
    </nav>


    <div id="profile_hamburger">
        <a href="#profile"><div id="profile_pic" style="background-image: url('{{profileImage}}')"></div></a>
        <div id="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

</div>
