<a id="large_logo" href="#membership">
    <img src=".\public\icons\moods_logo_large.svg"/>
</a>
<a id="small_logo" href="#membership">
    <img src=".\public\icons\moods_logo_small.svg"/>
</a>


<div>

    <nav class="menu">
        <li><a href="#receipt">Kvitteringer</a></li>
        <li><a href="#tryons">Prøverom</a></li>
        <li><a href="#images">Bilder</a></li>
        <li><a href="#membership">Medlemskap</a></li>
        <li><a href="#logout">Logg Ut</a></li>
    </nav>


    <div id="profile_hamburger">
        <a href="#profile"><div id="profile_pic" style="background-image: url('{{profileImage}}')"></div></a>
        <div id="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

</div>
