<div class="container" >
    <form action="submit" id="searchform">
        <input type="text" id="searcharea" placeholder="Search for a movie">

        <input type="button" value="Search" id="search" class="button" >
    </form>
    <ul class="rate_view">
    </ul>
    <div class = "nextbutton">
        <a class='button' id="next">Next</a>
    </div>
    <div class = "backbutton">
        <a class="button" id="previous">Back</a>
    </div>


</div>
