ul.rate_view{
  background-color: #1a1a1a;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 100px;

}
#content{
  background-color: #1a1a1a;

}
.container{
  background-color: #1a1a1a;
  padding-bottom: 20px;
}
#submitt{
  padding-left: 20px;
}
.rate_movie{
  background-color: grey;
  opacity: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  list-style: none;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

}
img{
  height: 400px;
  width: 300px;
}
.child{
  padding-right: 5%;
}
.rating {
  float:left;
  width:180px;
}
.rating span { float:right; position:relative; }
.rating span input {
  position:absolute;
  top:0px;
  opacity:0;
}
.rating span label {
  display:inline-block;
  width:30px;
  height:30px;
  background:#ccc;
  font-size:30px;
  margin-right:2px;
  line-height:30px;
  border-radius:50%;
  -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
  background:#F90;
}

#rate_overlay {
  position: fixed;
  top: 0;
  left: 0;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 5;
}
#next {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  bottom :0;
  right:0;

}

#next:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;

}
.nextbutton{

  position: absolute;
  bottom: 20px;
  right: 0;

}