<div id="ribbon" style="background-image: url('receiptBanner.png')">
    <div id="ribbon-inner">
        <div id="ribbon-content">
            <h1>
                Mine Kvitteringer
            </h1>
            <p>
                Her finner du dine fine kvitteringer som er like gyldige som papirversjonen.
            </p>
        </div>
    </div>
</div>

<div id="receipt_body" class="receipt_vw">
    {{#if empty}}
        <div class="empty-filler">
            <h2> Du har ingen digitale kvitteringer </h2>
            <div class="simen-says">
                <div class="bubble">
                    <p>
                        Kjøp deg noen snasne nye Moods-klær, så dukker kvitteringene dine opp her.
                    </p>
                </div>
                <div class="simen"></div>
            </div>
            <img src="http://dbfy9c5mcr8o7.cloudfront.net/client/moodsofnorway/dynamic/articles/waffle-iron-vaffeljern-mn-12619_2878.jpg"></img>
        </div>
    {{else}}
        <h3>Mine kjøp og kvitteringer</h3>
    {{/if}}
</div>
