<div class="container" >
    <ul>{{#each this}}
        <li>Movie: {{this.movie.movieName}}, Rating:{{this.ratingValue}}</li>
    {{/each}}
    </ul>
    <a> <button id="back" class="button" > Back </button></a><br>


</div>
