@import "../index.scss";

$square-side: 20px;

.ranktext{
  color: yellow;
  font-size: 18px;
}
.ranktextsmall{
  color: yellow;
  font-size: 14px;
}
#content{
  display: block;
}
#searchuser{
  margin-top:25px;
  margin-left: 20px;
  height: 35px;
}
#searchform{
  margin-top: -50px;
}
.buttonSmall {
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #575757;
  padding: 5px 10px 5px 10px;
  border: solid #000000 1px;
  text-decoration: none;
}
.buttonSmall:hover {
  background: #949494;
  text-decoration: none;

}

.userShow {
  background-color: #1a1a1a;
  font-size: large;
  color: #ffffff;
  padding: 20px;
  position: relative;
  .edit-profile-link {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #575757;
    padding: 10px 20px 10px 20px;
    border: solid #000000 1px;
    text-decoration: none;
  }
  .edit-profile-link:hover{
    background: #575757;
    background: #949494;

  }
  .disp {
    padding: 15px 10px 10px;
    box-sizing: border-box;
    width: 50%;
    float: left;
    box-shadow: 0 7px 6px -6px $background-grey;
    .imageContainer {
      width: 25%;
    }
  }
  #displayName, #displayUsername {
    margin-top: 60px;
  }
  #displayEmail {
    word-wrap: break-word;
  }
  #displayInterests {
    padding-bottom: 15px;
  }
}

///COMMON FOR BOTH VIEW AND EDITVIEW
.iconClass {
  display: inline-block;
  width: 23px;
  padding-left: 2px;
  img {
    width: $square-side;
    height: $square-side;
    vertical-align: middle;
    margin-bottom: 3px;
  }
}

#intSpan {
  width: 99%;
  display: inline-block;
  margin-bottom: 10px;
}

.isFalse {
  filter: grayscale(100%) contrast(30%) brightness(150%);
}


///END COMMON

.editGenre{
  padding-left: 5px;

}

.userEdit {
  font-size: large;
  padding: 20px;
  .editStuff {
    padding: 5px;
    input {
      padding-left: 2px;
      font-size: large;
      width: 500px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
    }
    .user-birthday {
      width: 60px;
    }
    ::-webkit-input-placeholder:-moz-placeholder::-moz-placeholder:-ms-input-placeholder {
      color: $moods-grey1;
    }
    .intDiv {
      width: 200px;
      .intImage {
        cursor: pointer;
      }
    }
  }
  #lastLine {
    display: block;
    clear: both;
  }
  .exit-editing-link, input[type=submit] {
    margin: 10px 10px 10px 10px;
    border-radius: 2em;
    background: #575757;
    color: white;
    font-size: large;
    border: none;
    width: 200px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    outline: none;
    line-height: 40px;
  }
  .exit-editing-link:hover{
    background: #949494;

  }
  input[type=submit]:hover {
    cursor: pointer;
  }
}
input.invalid {
    background: $moods-pink2;
}

