@import "~normalize.css";
$background-grey: #CFDCE4;
$overlay-opaque-grey: rgba(207, 220, 228, 0.9);
$overlay-opaque-white: rgba(255, 255, 255, 0.7);
$overlay-opaque-black: rgba(0, 0, 0, 0.5);

/*------- COLOURS! -------
- source: Moods digital directions - */
$moods-pink1: #EE2A7B;
$moods-pink2: #FF8FCC;
$moods-pink3: #FFDDF0;
$moods-blue:  #54D1FF;
$moods-grey1: #454142;
$moods-grey2: #6A6768;
$moods-grey3: #CFDCE4;
$moods-grey4: #EBEEF2;

$moods-font-family: 'Century Gothic', CenturyGothic, sans-serif;
$moods-gray: #6A6768;

* {
    font-family: $moods-font-family;
}

body {
    margin: 0;
    background: white;
}

#content {
    /* Top Right Bottom Left */
    padding-top: 4.25em;
    position: relative;
    width: auto;
}

/*-------------- LOGIN VIEW ----------------
- Eventually to be moved to view directories - */
#login_overlay {
    position: fixed;
    top: 0;
    left: 0;
    align-content: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    background: $overlay-opaque-black;
}

#login_view {
    size: auto;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 1em;
    background-color: white;
    box-sizing: border-box;
    z-index: 6;
    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-decoration: none;
        img {
          max-width: 20%;
          max-height: 20%;
        }
    }

    div {
        align-self: center;
        display: inherit;
        h3 {
            text-transform: uppercase;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        input {
            margin: 0 0 1em 0;
            border: 0 none;
            border-radius: 1.5em;
            padding: 0.6125em;
            background-color: $moods-grey4;
            font-size: 1em;
        }
        input[type="submit"] {
            color: black;
            text-transform: uppercase;
            font-weight: bold;
        }
        input:last-child:hover {
            background-color: $moods-pink3;
        }
        a img {
            width: 70%;
            align-self: center;
            justify-self: center;
        }
    }
}

@media only screen and (max-width: 35em) {
    #login_view {
        form {
            a img {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 48rem) {

    body {
        font-size: 16px;
    }
}

@media only screen and (min-width: 48rem) and (max-width: 80rem) {

    body {
        font-size: 18px;
    }
    form input {
        font-size: 16px;
    }
}

@media only screen and (min-width: 80rem) {

    body {
        font-size: 22px;
    }
    form input {
        font-size: 18px;
    }
}
